p.menu-label Endpoints
ul.menu-list.endpoints
    li
        a(href='/api/docs#count')
            code POST /api/count
            span Update bot server/guild count
    li
        a(href='/api/docs#bots')
            code GET /api/bots/:id
            span Get bot information from lists
    li
        a(href='/api/docs#lists')
            code GET /api/lists
            span Get all lists' API details
    li
        a(href='/api/docs#legacy-ids')
            code GET /api/legacy-ids
            span Get all #{__('site_name')} legacy IDs
p.menu-label Other
ul.menu-list
    li
        a(href='/api/docs#errors') Errors
    li
        a(href='/api/docs#ratelimits') Ratelimits
    li
        a(href='/api/docs#cache') Cache
    li
        a(href='/api/docs/libs') API Libraries
