extends ../layout
block content
    section.section
        .container
            .hero
                .hero-body.has-text-centered
                    h1.title.is-size-1 Best Practices for Discord Bot Lists
            .columns
                .column
                    .card.is-box-shadow
                        .card-content
                            .content.has-text-white.is-white !{data}
