extends ../layout
block content
    section.section
        .container
            .columns
                .column.is-half-desktop.is-full-mobile
                    .card.is-box-shadow
                        .card-content
                            include ../Includes/forms/list

