extends ../layout
block content
    section.section
        .container
            .columns
                .column
                    .card
                        .card-content
                            h1.title.is-size-4 #{__('site_name')} Icon Updater
                    .card
                        .card-content
                            ul
                                for list in lists
                                    - checkbox = { value: true, type: list[2] ? 0 : 2, disableTooltip: true, inline: true, color: true }
                                    li
                                        include ../Includes/checkbox
                                        a(href=`/lists/${list[0]}`) #{list[0]}
                                        |  - #{list[1]}
