extends ../layout
block content
    section.section
        .container
            .hero
                .hero-body.hero-slim
                    .has-text-centered
                        h1.title.is-size-4 #{title}
                        if subtitle
                            h5.title.is-size-5 #{subtitle}

            include ../Includes/lists
