extends layout
block content
    section.section
        .container
            .hero
                .hero-body.has-text-centered
                    h1.title.is-size-1 #{__('slogan')}
                    h4.title.is-size-4.is-primary #{__('site_name')} - #{__('short_desc')}
                    .button-group.button-group-vertical
                        a.button.is-brand.is-size-4(href='/lists') View all the bot lists
                        a.button.is-brand.is-size-4(href='/api/docs') Read the API documentation

            h4.is-size-4.has-text-white.has-text-centered List Spotlight
            .columns
                if !lists.length
                    h5.is-size-4.has-text-white No bot lists found.
                else
                    for list in lists
                        .column.is-half.is-full-mobile
                            include Includes/cards/listcard

