extends layout
block content
    section.section
        .container
            .hero
                .hero-body.has-text-centered
                    h1.title.is-size-1 #{__('slogan')}
                    h4.title.is-size-4 #{__('site_name')} - #{__('short_desc')}
                    br
                    h4.is-size-4.has-text-white Coming Soon
                    p.has-text-white The BotBlock website is currently being rewritten.
                    p.has-text-white The post count & list data API endpoints from the old site are live.
                    p.has-text-white Everything else from the full site will be back soon!
