extends layout
block content
    section.section
        .container
            .columns
                .column
                    .card.is-box-shadow
                        .card-content
                            h1.title.is-size-3.has-text-white #{__('site_name')} - #{__('short_desc')}
                            a.button.is-brand.is-small(href='/sitemap.xml') View as XML
                            br
                            br
                            aside.menu(style='column-count: 3;')
                                ul.menu-list
                                    for item in data
                                        li
                                            a(href=item.loc) #{item.loc}
