extends layout
block content
    section.section
        .container
            .hero
                .hero-body.has-text-centered
                    h1.title.is-size-1 Tasks Management
                    h4.title.is-size-4.is-primary #{__('site_name')} - #{__('short_desc')}

            if !tasks.length
                .hero.hero-slim
                    .has-text-centered
                        h5.title.is-size-4 No tasks defined.
            else
                .columns.is-half.is-multiline
                    for task in tasks
                        .column.is-half.is-full-mobile
                            include Includes/cards/taskcard

block footer
    script(src='/assets/js/tasks.js')
