if !adblock
    script(async src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    // Banner 1
    ins(class='adsbygoogle', style='display:block', data-ad-client='ca-pub-4266526051230566', data-ad-slot='9114202102', data-ad-format='auto', data-full-width-responsive='true')
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});
