extends ../../layout
block content
    section.section
        .container
            .hero
                .hero-body.hero-slim
                    .has-text-centered
                        h1.title.is-size-4 List Feature Manager
                a.button.is-small.is-mod.is-right(href='/lists/features/manage/add') Add Feature
            .columns
                if !checkboxes.length
                    h3.title.is-size-3 No features found, add one!
                else
                    for checkbox in checkboxes
                        .column.is-one-third
                            .card.is-box-shadow
                                .card-content
                                    .media
                                        .media-content
                                            - checkbox.value = true
                                            include ../../Includes/checkbox
                                            .buttons
                                                a.button.is-light.is-small.is-mod(href='/lists/features/manage/' + checkbox.id) Edit
                                                a.button.is-light.is-small.is-mod(href='/lists/features/manage/' + checkbox.id + '/delete') Delete
