.card.is-box-shadow
    .card-content
        .media
            .media-left
                img(class='image', alt='List Name', src='https://i.imgur.com/T7DdvE8.png')
            .media-content
                p.title.is-3 List Name
                p.subtitle.is-6 URL
            .media-right.button-group.button-group-vertical
                a.button.is-light.is-small Information
                a.button.is-light.is-small Website
                a.button.is-light.is-small Discord
                a.button.is-light.is-small * Fetch Icon from invite
                a.button.is-light.is-small * Edit List
                .content
                    b.text.is-primary Owners:<br/> User

