-
    var columns = [];
    var hasFeature = false;

    if (hideUncheckedBoxes) {
        var items_show = [[], []];
        var items_hide = [[], []];
        var counter = [0, 0];
        checkboxes.forEach(checkbox => {
            if (checkbox.value) {
                items_show[counter[0] % 2].push(checkbox);
                counter[0]++;
                hasFeature = true;
            } else {
                items_hide[counter[1] % 2].push(checkbox);
                counter[1]++;
            }
        });
        columns = [items_show, items_hide];
    } else {
        var items = [[], []];
        var counter = 0;
        checkboxes.forEach(checkbox => {
            items[counter % 2].push(checkbox);
            counter++;
        });
        columns = [items];
    }

each section, index in columns
    .columns(class=(index === 0 ? '' : 'has-margin-top'))
        each column in section
            .column.left
                each checkbox in column
                    include checkbox
    if index < columns.length - 1
        hr

if interactiveCheckboxes
    script(defer src='/assets/js/checkboxes/interactive.js')

if hideUncheckedBoxes
    a.button.is-light.is-small#feature_toggle(data-toggled='0') Show All
    script(defer src='/assets/js/checkboxes/hidden.js')
