.columns
    .column.left
        a(href='/lists/features/7')
            .checkbox.always(tabindex='0', role='button')
                .checkbox-inner
                    input#7(type='checkbox', name='7', checked='')
                    span
                span Custom Bot Invite Link
        a(href='/lists/features/12')
            .checkbox.always(tabindex='0', role='button')
                .checkbox-inner
                    input#12(type='checkbox', name='12', checked='')
                    span
                span Discord Bot Support Link
        a(href='/lists/features/16')
            .checkbox.always.minus(tabindex='0', role='button')
                .checkbox-inner
                    input#16(type='checkbox', name='16', checked='')
                    span
                span Voting Data Exposed
        a(href='/lists/features/10')
            .checkbox.always(tabindex='0', role='button')
                .checkbox-inner
                    input#10(type='checkbox', name='10', checked='')
                    span
                span Has Certification Program
    .column.left
        a(href='/lists/features/13')
            .checkbox.always(tabindex='0', role='button')
                .checkbox-inner
                    input#13(type='checkbox', name='13', checked='')
                    span
                span Custom Bot Website Link
        a(href='/lists/features/2')
            .checkbox.always(tabindex='0', role='button')
                .checkbox-inner
                    input#2(type='checkbox', name='2', checked='')
                    span
                span Has Voting
        a(href='/lists/features/17')
            .checkbox.always(tabindex='0', role='button')
                .checkbox-inner
                    input#17(type='checkbox', name='17', checked='')
                    span
                span Additional Bot Owners/Editors
        a(href='/lists/features/3')
            .checkbox.always(tabindex='0', role='button')
                .checkbox-inner
                    input#3(type='checkbox', name='3', checked='')
                    span
                span Server Count API

