.header.navbar.is-spaced.is-box-shadow(role='navigation', aria-label='main navigation')
    .container
        .navbar-brand
            a.navbar-item(href='/')
                img(src='/assets/img/icon.svg', alt='')
                | #{__('site_name')}
            a.navbar-burger(role='button', aria-label='menu', aria-expanded='false')
                span(aria-hidden='true')
                span(aria-hidden='true')
                span(aria-hidden='true')
        .navbar-menu
            .navbar-start
                a.navbar-item(href='/') Home
                .navbar-item.has-dropdown.is-hoverable
                    a.navbar-link Lists
                    .navbar-dropdown.is-boxed.is-box-shadow
                        a.navbar-item(href='/lists') All Lists
                        a.navbar-item(href='/lists/new') New Lists
                        a.navbar-item(href='/lists/features') List Features
                        if user
                            if user.mod || user.admin
                                a.navbar-item(href='/lists/add') * Add List
                                a.navbar-item(href='/lists/icons') * Update All Icons
                        hr.dropdown-divider
                        form#navbar_lists_search
                            input#navbar_lists_query.navbar-item.input(type='text', placeholder='Name or URL')
                            a.navbar-item(onclick='navbar_lists_go()') Search Lists
                //.navbar-item.has-dropdown.is-hoverable
                //    a.navbar-link Bots
                //    .navbar-dropdown.is-boxed.is-box-shadow
                //        a.navbar-item Bot Lookup
                //        a.navbar-item Add New Bot
                .navbar-item.has-dropdown.is-hoverable
                    a.navbar-link API
                    .navbar-dropdown.is-boxed.is-box-shadow
                        a.navbar-item(href='/api/docs') API Docs
                        a.navbar-item(href='/api/docs/libs') API Libraries
                if user && (user.mod || user.admin)
                    a.navbar-item(href='/test') Tests
            .navbar-end
                a.navbar-item(href='/discord', target='_blank') Discord Server
                a.navbar-item(href='/patreon', target='_blank') Support Us
                if user
                    .navbar-item.has-dropdown.is-hoverable
                        a.navbar-link #{user.username}##{user.discriminator}
                        .navbar-dropdown.is-boxed.is-box-shadow
                            a.navbar-item(href='/auth/logout') Logout
                else
                    a.navbar-item(href='/auth') Sign in with Discord
                // a.navbar-item Languages (Coming soon... :) )



