* {
  transition: all .2s ease;
}

html, body {
  background: #2d3237 url("/Assets/geometry/geometry_transparent.png");
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vH;
}


form {
  width: 100%;
}

.section {
  padding: 3rem 1.5rem;
}

.card, .is-brand, .notification, .is-box-shadow {
  box-shadow: 4px 4px 0 rgba(0, 0, 0, .2) !important;
}

.card, .notification, .is-brand {
  border-radius: 10px;
}

.is-brand:hover, .is-brand:active {
  background-color: $brand-dark;
  color: $white;
}

.text.is-primary, code {
  color: $brand;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: .8rem;
}

.container {
  @include touch {
    max-width: 100%;
  }

  .columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;

    @include touch {
      margin: 0;
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      justify-self: center;
      max-width: 100%;

      &.left {
        justify-content: flex-start;
        align-items: flex-start;
      }

      &.top {
        align-self: flex-start;
      }

      > * {
        max-width: 100%;
      }
    }
  }
}

pre {
  background-color: #242424;
}

.has-margin-top {
  margin-top: calc(1.5rem - .75rem);
}

/*table.table {
  @include touch {
    overflow-wrap: initial;
    word-break: initial;
    hyphens: initial;
  }
}*/
