* {
  transition: all .2s ease;
}

html {
  overflow-y: auto;
  scrollbar-color: $background $card-background;
  background: $background;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $background;
  background-image: url("/Assets/img/bg-bottom.svg");
  background-size: contain;
  background-position: bottom left;
  background-attachment: scroll;
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    display: block;
    background-image: url("/Assets/img/bg-top.svg");
    background-size: contain;
    background-position: top right;
    background-attachment: scroll;
    background-repeat: no-repeat;
  }

  > main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh !important;
    max-width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $card-background;
}

::-webkit-scrollbar-thumb {
  background: $background;
}

::-webkit-scrollbar-thumb:hover {
  background: $background;
}

.section {
  padding: 3rem 1.5rem;
}

.card, .is-brand, .notification, .is-box-shadow {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, .25) !important;
}

.card, .notification, .is-brand {
  border-radius: $radius-large;
}

.is-brand:hover, .is-brand:active {
  background-color: $brand-dark;
  color: $white;
}

.text, .title {
  &.is-primary {
    color: $brand;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: .8rem;
}

.container {
  @include touch {
    max-width: 100%;
  }

  .columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;

    @include touch {
      margin: 0;
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      justify-self: center;
      max-width: 100%;

      &.left {
        justify-content: flex-start;
        align-items: flex-start;
      }

      &.top {
        align-self: flex-start;
      }

      > * {
        max-width: 100%;
      }
    }
  }
}

.has-margin-top {
  margin-top: calc(1.5rem - .75rem);
}

pre .hljs {
  background: transparent;
}

/*table.table {
  @include touch {
    overflow-wrap: initial;
    word-break: initial;
    hyphens: initial;
  }
}*/
