.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.button-group-vertical {
    flex-direction: column;
    display: inline-flex;

    > * + * {
      margin-top: .5rem;
    }
  }

  &:not(.button-group-vertical) {
    > * + * {
      margin-left: .5rem;
    }
  }
}

.button {
  white-space: normal;
  min-height: 2.25em;
  height: auto;

  &.is-mod {
    background: mix($light, $brand4, 80%);

    &:hover {
      background: mix($light, $brand4, 60%);
    }
  }
}
