.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.button-group-vertical {
    flex-direction: column;
    display: inline-flex;

    @include touch {
      width: 100%;
      margin: 0;
    }

    > * + * {
      margin-top: .5rem;
    }
  }

  &:not(.button-group-vertical) {
    > * + * {
      margin-left: .5rem;
    }
  }
}

.button {
  white-space: normal;
  min-height: 2.25em;
  height: auto;

  &.is-primary {
    background: $brand;
    color: $white;

    &:active, &:hover, &:focus, &.active {
      background: $brand-dark;
      color: $white;
    }
  }

  &.is-mod {
    background: mix($light, $brand4, 70%);

    &:hover {
      background: mix($light, $brand4, 50%);
    }
  }
}

.version-badge {
  height: 1.25em;
  margin-bottom: .25em;
  border-radius: .625em;
}
