.card {
  margin-top: .5rem;
  background: #434A54;
  border: none;
  width: 100%;
  min-width: 100%;
  height: 100%;

  .media {
    @include touch {
      flex-direction: column;
      align-items: center;

      .media-left {
        margin: 0;
      }

      .media-right {
        margin-top: 1rem;
      }
    }

    .image {
      width: 64px;
      height: auto;
      border-radius: 50%;
      background: #2f3136;
    }
  }

  .card-content {
    /*overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;*/

    &,
    > * {
      max-width: 100%;
    }
  }
}
