.card {
  margin-top: .5rem;
  background: $card-background;
  border: none;
  width: 100%;
  min-width: 100%;
  height: 100%;

  .media {
    @include touch {
      flex-direction: column;
      align-items: center;

      .media-left {
        margin: 0;
      }

      .media-right {
        margin-top: 1rem;
      }
    }

    .image {
      width: 64px;
      height: auto;
      border-radius: 50%;
      background: #2f3136;
    }
  }

  .card-content {
    /*overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;*/

    .media-right.button-group {
      margin: -1.5rem -1.5rem -1.5rem 0;
      padding: 1.5rem;
      background: $brand-dark;
      align-self: stretch;
    }

    &,
    > * {
      max-width: 100%;
    }
  }
}

.column {
  &:nth-child(5n+1) .card {
    border-bottom: 2px solid $brand;
  }

  &:nth-child(5n+2) .card {
    border-bottom: 2px solid $brand2;
  }

  &:nth-child(5n+3) .card {
    border-bottom: 2px solid $brand3;
  }

  &:nth-child(5n+4) .card {
    border-bottom: 2px solid $brand4;
  }

  &:nth-child(5n+5) .card {
    border-bottom: 2px solid $white;
  }
}
