.checkbox {
  align-items: center;
  display: flex;
  cursor: default;
  margin: 0 0 13px;
  outline: 0;
}

.checkbox.interactive {
  cursor: pointer;
}

.checkbox, .checkbox:hover {
  color: #fff;
}

.checkbox.disallowed, .checkbox.disallowed:hover {
  color: hsla(0, 0%, 100%, .3);
  transition: color .24s;
}

.checkbox .checkbox-inner {
  flex-shrink: 0;
  height: 18px;
  position: relative;
  vertical-align: top;
  width: 18px;
}

.checkbox .checkbox-inner input[type="checkbox"] {
  display: none;
}

.checkbox .checkbox-inner span {
  border: 2px solid #cdcdcd;
  border-radius: 2px;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .24s;
}

.checkbox .checkbox-inner input[type="checkbox"]:checked + span {
  background-color: #7289da;
  border-color: #7289da;
}

.checkbox.green .checkbox-inner input[type="checkbox"]:checked + span {
  background-color: #43b581;
  border-color: #43b581;
}

.checkbox.red .checkbox-inner input[type="checkbox"]:checked + span {
  background-color: #f04747;
  border-color: #f04747;
}

.checkbox.disallowed .checkbox-inner span {
  border-color: hsla(0, 0%, 100%, .6);
}

.checkbox .checkbox-inner input[type=checkbox]:checked + span:after,
.checkbox.always .checkbox-inner input[type=checkbox] + span:after {
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  content: "";
  display: table;
  height: 10px;
  left: 4px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 4px;
  box-sizing: content-box;
}

.checkbox.cross .checkbox-inner input[type=checkbox]:checked + span:after,
.checkbox.cross.always .checkbox-inner input[type=checkbox] + span:after {
  border-width: 0 2px 0 0;
  height: 12px;
  left: 6px;
  top: 1px;
  width: 0;
}

.checkbox.cross .checkbox-inner input[type=checkbox]:checked + span:before,
.checkbox.cross.always .checkbox-inner input[type=checkbox] + span:before {
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 0 0;
  content: "";
  display: table;
  height: 12px;
  left: 6px;
  position: absolute;
  top: 1px;
  transform: rotate(-45deg);
  width: 0;
  box-sizing: content-box;
}

.checkbox.minus .checkbox-inner input[type=checkbox]:checked + span:after,
.checkbox.minus.always .checkbox-inner input[type=checkbox] + span:after {
  border-width: 0 0 2px 0;
  height: 0;
  left: 1px;
  top: 6px;
  transform: none;
  width: 12px;
}

.checkbox.always .checkbox-inner input[type=checkbox]:not(:checked) + span:after,
.checkbox.always .checkbox-inner input[type=checkbox]:not(:checked) + span:before {
  border-color: #667;
}

.checkbox .checkbox-inner + span {
  margin-left: 8px;
}

.checkbox .checkbox-inner + span a {
  color: $white;
}

.checkbox .checkbox-inner + span a:hover,
a:hover .checkbox .checkbox-inner + span {
  color: $brand;
}

a:hover .checkbox {
  cursor: pointer;
}

.menu-list .checkbox {
  margin: 0;
}

label.label,
.input, .select select, .textarea {
  color: $white;
}
