$brand: #359DC4;
$brand-dark: darken($brand, 20%);
$brand2: #4FC0E9;
$brand3: #D56FAC;
$brand4: #967ADC;
$white: #F5F7FA;

$primary: $brand;
$primary-invert: $brand-dark;
$light: #363636;
$light-invert: invert($light);

// Navbar
$navbar-background-color: $brand;
$navbar-box-shadow-color: $brand-dark;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $brand-dark;
$navbar-dropdown-background-color: $brand;
$navbar-dropdown-arrow: $white;
$navbar-dropdown-offset: auto;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $brand-dark;
$navbar-divider-background-color: $light;

// Forms
$input-background-color: #333;
$input-border-color: transparent;
$input-placeholder-color: grey;

// Title
$title-color: $white;
$subtitle-color: #b5b5b5;
$text: #b5b5b5;

// Buttons
$button-color: $white;
$button-background-color: $brand;
$button-border-color: transparent;
$button-hover-border-color: transparent;
$button-hover-color: $white;

// Code
$code-background: #242424;
$code: #359DC4;
