$brand: #359DC4;
$brand-dark: darken($brand, 20%);
$brand2: #4FC0E9;
$brand3: #D56FAC;
$brand4: #967ADC;
$white: #F5F7FA;

$primary: $brand;
$primary-invert: $brand-dark;
$light: darken(desaturate($brand, 60%), 35%);
$lighter: lighten($light, 10%);
$light-invert: invert($light);
$background: darken($light, 5%);
$link: $brand;
$link-hover: $brand-dark;

// Radius
$radius-small: 1px;
$radius: 2px;
$radius-large: 3px;

// Navbar
$navbar-background-color: $lighter;
$navbar-box-shadow-color: $brand-dark;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-background-color: $lighter;
$navbar-dropdown-arrow: $white;
$navbar-dropdown-offset: auto;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-divider-background-color: $light;

// Forms
$input-background-color: #333;
$input-border-color: transparent;
$input-placeholder-color: grey;

// Title
$title-color: $white;
$subtitle-color: #b5b5b5;
$text: #b5b5b5;

// Buttons
$button-color: $white;
$button-background-color: $brand;
$button-disabled-background-color: $brand-dark;
$button-disabled-border-color: transparent;
$button-border-color: transparent;
$button-hover-border-color: transparent;
$button-hover-color: $white;

// Code
$pre-background: $background;
$code-background: $background;
$pre: $text;
$code: $brand;

// Card
$card-background: $lighter;

// Menu
$menu-item-hover-color: $text;
$menu-item-hover-background-color: $light;

// Table
$table-color: $text;
$table-head-cell-color: $text;
$table-background-color: $background;
$table-cell-border: 1px solid mix($background, $card-background);

// Hr
$hr-background-color: $input-background-color;
$hr-margin: .2rem 0;

// Content
$content-heading-color: $white;
