.navbar {
  &.is-spaced {
    padding: .2rem 2.5rem;

    @include touch {
      padding: .5rem 1rem;
    }
  }

  &.footer {
    margin-top: auto;
    min-height: auto;
    padding: 0.5rem 2rem;
    background-color: $navbar-background-color;
    color: $navbar-item-color;
    border-radius: 0;
    box-shadow: 0 -4px 0 rgba(0, 0, 0, .2) !important;

    .breadcrumb {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      a {
        color: $navbar-item-color;

        &:hover {
          color: $brand-dark;
        }
      }

      li + li::before {
        color: $brand-dark;
      }

      .right-links {
        margin-left: auto;

        li + li::before {
          display: none;
        }
      }
    }
  }

  &.header {
    border-radius: 0;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .2) !important;

    .navbar-menu {
      @include touch {
        box-shadow: none;
      }

      .navbar-dropdown {
        @include touch {
          padding-left: .5rem;
          box-shadow: none !important;
        }
      }
    }
  }

  .navbar-item {
    @include hover-line;

    img {
      max-height: 2.5rem;
      margin-right: .5em;
      height: 100%;
    }

    &.input {
      font-size: 1em;
      border-radius: 0;
      margin: .75rem 0 .15rem;
      padding: .3rem .6rem;

      &:focus, &:active, &:not(:placeholder-shown) {
        font-size: .8em;
        padding: .8rem;
      }
    }

    .navbar-link {
      &:after {
        @include touch {
          display: none;
        }
      }
    }
  }

  .navbar-dropdown {
    top: calc(100% + 2px);

    a.navbar-item:focus,
    a.navbar-item:hover {
      border-radius: 0;
    }
  }

  .navbar-link {
    flex-wrap: nowrap;
    padding: .25rem .75rem;

    &:not(.is-arrowless) {
      padding-right: 2.5em;
    }
  }

  .navbar-item {
    flex-wrap: nowrap;
    padding: .25rem .75rem;

    &.has-dropdown {
      padding: 0;
    }
  }
}
