body {
  > nav.navbar {
    display: none;

    @include touch {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      height: 3.25rem;
    }
  }

  > aside.menu {
    max-height: 100vh;
    max-width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    background: $card-background;
    overflow-y: auto;
    margin: 0;

    @include touch {
      z-index: 100;
      left: -100%;
      position: fixed;
      margin-top: 3.25rem;

      &.is-active {
        left: 0;
      }
    }

    > .menu-list {
      max-height: 100%;
      padding: 3rem .5rem;

      li {
        font-size: .9rem;

        a {
          padding: .3rem .5rem;
          margin-bottom: .1rem;
        }

        .input {
          margin-left: .2rem;
          padding: .25rem .5rem;
          line-height: 1.1;
          font-size: .9rem;
        }

        ul {
          padding-left: .25rem;
          margin: .5rem .25rem .5rem .5rem;
        }
      }

      .endpoints {
        a {
          span {
            padding-top: .15rem;
            font-size: .95em;
          }
        }
      }

      .menu-label {
        padding: 0 .5rem;
        margin: .5rem 0 .75rem;
        font-size: .75rem;

        &.brand {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          margin-top: -1rem;

          img {
            width: 3rem;
            margin-right: .5rem;
          }

          span {
            padding-top: .75rem;
            color: $brand;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
