name: CI

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: botblock
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v1

      - name: Install dependencies
        run: npm install

      - name: Setup CI
        run: npm run ci:setup

      - name: Database migrations
        run: npm run db:migrate

      - name: Database seed
        run: npm run db:seed

      - name: Run CI
        run: npm run ci:run
